@font-face {
	font-family: Couture;
	src: url("../fonts/couture-bld.otf") format("opentype");
}
:root {
	--green-color: #7a8670;
}
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body {
	min-height: 100vh;
	background-image: url("../img/bkg2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: auto;
	line-height: 20px;
	overflow-x: hidden;
}
#mobile_nav_open {
	width: 100%;
	background-color: #7a8670;
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;

	gap: 2rem;
	padding-block: 1rem;
	z-index: 1000;
	display: none;
}
.mobile_nav_open_open_btn {
	cursor: pointer;
}

#mobile_nav_open img {
	height: 60px;
	border-radius: 20px;
}
#mobile_nav {
	background-color: rgba(0, 0, 0, 0.73);
	backdrop-filter: blur(5px);
	min-height: 100vh;
	position: fixed;
	width: 70%;
	z-index: 1000;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
	left: -100%;
	transition: left 500ms linear;
}
#mobile_nav.show {
	visibility: visible;
	left: 0;
}
#mobile_nav.show li a {
	color: var(--green-color);
	font-size: 1.5rem;
	text-decoration: none;
}

#close_mobile_nav {
	position: absolute;
	filter: invert(1);
	top: 10px;
	right: 10px;
	height: 80px;
	cursor: pointer;
}

#close_mobile_nav:hover {
}
#mobile_nav .logo {
	margin: 20px auto;
	display: block;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header {
	height: 150px;
}
body {
	width: 90vw;
	max-width: 1600px;
	background-color: rgb(7, 7, 7);
	margin: auto;
	font-family: "Roboto", sans-serif;
}
.h1-main-title {
	margin-block: 100px;

	color: #7a8670;
	border: 5px solid #7a8670;
	font-family: "Couture", sans-serif;
	font-size: 4rem;
	padding: 2rem;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	width: fit-content;

	margin-inline: auto;
	text-align: center;
}
article h4 {
	margin-block: 1rem;
}
.title_main {
	/* font-size: 3rem;
margin: auto;
padding: 2rem;
font-weight: bold; */

	/* -webkit-text-stroke: 2px #95a588; */
	color: var(--green-color);
	font-family: "Couture", sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	text-align: left;
	padding: 2rem;
	width: fit-content;
	margin: 5rem 0 0rem 10rem;
	border: 5px solid var(--green-color);
	border-radius: 1rem;
}
.homepage_logo {
	width: 100%;
	/* padding-top: 200px; */
	margin-top: 4rem;
	display: flex;
	justify-content: center;
}
.homepage_logo > svg {
	/* background: rgba(255, 255, 255, 0.082); */
	animation: borderAnimation 1000ms ease-in-out forwards;
	padding: 1rem;
	max-width: 1000px;
	border-radius: 1rem;
	background-color: rgba(0, 0, 0, 0.25);

	/* box-shadow: 5px 5px 5px black; */
}
@keyframes borderAnimation {
	0% {
		border: 0px solid transparent;
	}

	100% {
		border: 2px solid var(--green-color);
	}
}
.popup__wrapper {
	width: fit-content;
	border-radius: 10px 0 0 10px;
	background-color: #7a8670ad;
	border: 2px solid var(--green-color);
	border-right: 0;
	backdrop-filter: blur(5px);
	position: fixed;
	top: 150px;
	right: -1000px;
	padding: 2rem 5rem;
	transition: right 500ms ease-in-out;
	z-index: 999;
}
.popup__wrapper.animate {
	right: 0;
}

.popup__wrapper p,
.popup__wrapper a {
	display: block;
	margin-bottom: 5px;
	font-size: 1.25rem;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 4px black;
}
.popup__wrapper a {
	text-decoration: underline;
	text-decoration-color: #7a8670;
	cursor: pointer;
}
/* .homepage_logo > svg:hover {
animation: dash 20s linear;
animation-direction: reverse;
background-color: red;
} */
.path {
	animation: dash 15s ease-in-out forwards;
	stroke-dasharray: 14003.5869140625;
	stroke-dashoffset: 14003.5869140625;
}
.main-h2 {
	color: #7a8670;
	font-family: "Couture", sans-serif;
	font-size: 1.3em;
	padding: 1.5rem 0;
	position: relative;
}
p {
	/* font-family: Helvetica, sans-serif; */
	font-weight: 300;
	font-size: 1rem;
	color: black;
}
b {
	color: #7a8670;
	font-weight: 900;
}
.qui-nous-somme-nous-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 1rem;
	margin: auto;
}
.card-persone {
	overflow: hidden;
	text-align: center;
}
.qui-nous-somme-nous-gallery img {
	width: 200px;
	background-color: #7a8670;
	border-radius: 10px;
	height: 200px;
	object-fit: cover;
}
@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

.container {
	/* padding-top: 200px; */
	display: flex;
	flex-direction: column;
}
.grid {
	margin: 0 auto;
	display: grid;
	padding: 100px 0;
	max-width: fit-content;
	grid-gap: 25px;
	grid-template-areas:
		"card1 card2 card3"
		"card4 card5 card6";
}
.card1 {
	grid-area: card1;
}
.card2 {
	grid-area: card2;
}
.card3 {
	grid-area: card3;
}
.card4 {
	margin-top: 100px;
	grid-area: card4;
}
.card5 {
	margin-top: 100px;
	grid-area: card5;
}
.card6 {
	margin-top: 100px;
	grid-area: card6;
}

.card {
	height: 550px;
	width: 320px;
	display: flex;
	padding: 2rem 1rem;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	text-align: center;
	background: rgba(255, 255, 255, 0.746);
	position: relative;
	z-index: 1;
	box-shadow: 5px 5px 5px black;
	transition: transform 100ms linear, box-shadow 100ms linear;
}
/* .card::before {
	content: "";
	position: absolute;
	inset: 0;
	width: 98%;
	height: 98%;
	outline: 2px solid var(--green-color);
	z-index: -9;
} */
.card:hover {
	transform: translate(3px, 3px);
	/* border-bottom: 6px solid var(--green-color);
	border-left: 6px solid var(--green-color); */
	box-shadow: -6px -6px 0px 0px var(--green-color);
}

.card-img {
	width: 90%;
	height: 40%;
	background-size: cover;
	border: 10px solid var(--green-color);
	border-radius: 10px;
	transition: transform 250ms ease-in-out;
	overflow: hidden;
}

.card-img1 {
	background-image: url("../img/nos_agences.jpg");
	background-position: center;
}
.card-img2 {
	background-image: url("../img/logo_white.png");
	background-color: #7a8670c1;
	background-position: center;
}
.card-img3 {
	background-image: url("../img/hand_small.jpg");
	background-position: center;
}

.card-img4 {
	background-image: url("../img/marbrerie_small.jpg");
	background-position: center;
}
.card-img5 {
	background-image: url("../img/flower_small.jpg");
	background-position: center;
}
.card-img6 {
	background-image: url("../img/devis.jpg");
	background-position: center;
}
.card-logo {
	width: 50px;
	margin-bottom: 15px;
}
.separator {
	margin: 30px;
	width: 10%;
	border-bottom: 1px solid black;
}

.btn {
	background-color: white;
	padding: 1rem;
	border: 2px solid var(--green-color);
	cursor: pointer;
}
.btn:hover {
	color: white;

	background-color: #c3c3c3;
}
.btn-card {
	position: absolute;
	bottom: 10%;
	transition: transform 250ms ease-in-out, color 250ms ease-in-out,
		background-color 250ms ease-in-out, border-radius 250ms ease-in-out;
}
.btn-card:hover {
	transform: translateY(5px);
	background-color: var(--green-color);
	color: white;
	border-radius: 0.75rem;
}
.btn-card:hover a {
	color: white;
}
.btn-card a {
	text-decoration: none;
	color: black;
	font-family: "Roboto", sans-serif;
}
.down__arrow__nav {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 60px;
	animation: downKey 1s ease-in-out infinite alternate-reverse;
}
#dialog_mentions_legales {
	width: 50vw;
	margin: auto;
	height: 100vh;
	padding: 20px;
	border-radius: 10px;
	background-image: linear-gradient(to left, #7a8670, white);
	/* display: flex;
	flex-direction: column;
	position: relative; */
	font-size: 1.15rem;
	gap: 10px;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	line-height: 22px;
	text-align: justify;
}
#dialog_mentions_legales h2 {
	margin-block: 20px;
}
#dialog_mentions_legales p {
	margin-block: 10px;
}
#dialog_mentions_legales img {
	position: absolute;
	height: 40px;
	width: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}
#dialog_mentions_legales::backdrop {
	background-color: rgb(7, 7, 7, 0.4);
	opacity: 0.75;
}
@keyframes downKey {
	0% {
		transform: scale(0.85);
	}
	100% {
		transform: scale(1.15);
	}
}

@media screen and (max-width: 1400px) {
	.popup__wrapper {
		top: 125px;
		font-size: 0.75rem;
		padding: 0.5rem 2.5rem;
	}
	.h1-main-title {
		font-size: 3rem;
		line-height: 100%;
	}
}
@media screen and (max-width: 600px) {
	#mobile_nav_open {
		display: flex;
	}
	.popup__wrapper {
		bottom: 50px;
		top: unset;
		font-size: 0.75rem;
		padding: 0.5rem 2.5rem;
	}
	.h1-main-title {
		margin: auto;
	}
	.homepage_logo {
		display: none;
	}
	#navigation {
		display: flex;
		flex-direction: column;

		width: 100%;
	}
	#navigation .card {
		width: 100%;
	}
	.card-img {
		aspect-ratio: 1/1;
	}
	.grid {
		max-width: unset;
	}
	.wrapper {
		display: none;
	}
	.card4,
	.card5,
	.card6 {
		margin-top: 0;
	}
	footer {
		display: none;
	}
}
